@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Raleway'
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    background: #000000;
    font-size: 1.2em;
    

    a {
        color: rgb(255, 255, 255);
    }
}


header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2em;
    


    .logo {
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
            transition: ease-in-out all .5s
           
        }
    }
}

.hero {
    background: #000000;
    color: rgb(255, 255, 255);
    display: grid;
    text-align: center;
}

.contect {
    padding: 2.5em;
}

.meet {
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    align-items: center;
    margin-bottom: 2em;

}

.button {
    background: #000000;
    padding: 0.5em 2em;
    text-align: center;
    border: 0px;
    border: 2px solid white;
    border-radius: 5px;
}



.button:hover {
    background: #5c6675;
    transition-duration: 0.4s;
}

.button p {
    color: white;
}

section {
    background: inherit;
}

.featured {
    margin: 0 auto;
    background: white;

    h2.featured-text {
        text-align: left;
        margin: 0px;
        padding-top: 100px;
        color: white;
    }
}

.middle {
    background: white;
    padding-bottom: 50px;
}

.featured-container {
    display: grid;
    background: #3588CE;
    align-items: center;
    grid-template-areas: 'featured-container-text featured-container-text img';
    overflow: hidden;
    grid-template-columns: 50% 50%;
    min-height: 350px;
}

.featured-container-text {
    color: white;
    height: auto;
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 1em 0em;
    font-size: 1.15em;
}

input[type=text] {
    width: 80%;
    padding: 12px 10px;
    margin: 25px 10%;
    box-sizing: border-box;
    border-radius: 4px;
    background: transparent;
    border:1px solid white;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-family: raleway;
    font-size: 20px;
    width: 80%;
}

#lname {
    margin-top:12%;
}
#iname {
    margin:5px 10%;
    padding: 12px 10px;
}
#fname {
    padding-bottom:20%;
}

input[type=submit] {
    padding: 22px 20px;
    border: none;
    cursor: pointer;
    float: left;
    margin: 25px 10%;
    font-family: raleway;
    background-color: #000000;
    font-size: 18px;
    width: 80%;
    color:white;
    border-radius: 10px;
}

.featured-container-text p {
    font-size: 0.7em;
    font-weight: lighter;
}

.featured-container img {
    width: 100%;
    height: 100%;
}

.featured-container:first-of-type {
    background: #754284;
    margin-bottom: 2em;
}

h2.skills-headline {
    text-align: left;
}

p.skills-text {
    text-align: left;
}

#contact {
    display: grid;
    /** grid-template-columns: 50% 50%; **/
    padding-top: 8%;
    padding-bottom: 9%;
}

.portfolio {
    width: 80%;
    margin: auto;
    height: auto;
    display: grid;
    grid-template: auto;
    grid-gap: 15px;
    background-color: white;
}

.portfolio>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    height: 200px;
    font-size: 30px;
}

.contact-text {
    display: none;
}

.contact-text a {
    color: white;
}

li.transition2 img {
    height: 200px;
}

.skills {
    background: #F4F4F2;
    padding: 1em;
}

.skills-container ul li:first-of-type {
    background: #F4F4F2;
}



.skills-container ul li {
    background: #F4F4F2;
    padding: 1em;
    margin: 1em;
    text-align: left;
}

li.transition2 {
    color: black;
}


.footer {
    background: #F4F4F2;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;

    a {
        color: black;
    }
}

.footer-nav li {
    margin-bottom: 0.5em;
    padding-top: 10px;
    font-size: 1.3em;
    font-weight: bold;
}


h2.skills-subheadline {
    text-align: center;
    padding: 0px;
    margin-top: 50px;
    font-weight: lighter;

}

h2.skills-subheadline p {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 8px;
}

.contact-container-box {
    background: rgb(255, 255, 255);
    width: 80%;
    height: 100%;
    max-width: 500px;
    border-radius: 2em;
    margin: auto;
}


.contact-box {
    height: 100%;
    width: 100%;
}

body {
    background: #000000;
}


.hero img {
    display: none;
}

h2.featured-text a {
    display: none;
}

.featured h2.featured-text {
    text-align: center;
}

.featured-container-text ul li {
    display: inline-block;
    padding: 0.5em;
    background: #4d205a;
    border-radius: 5px;
    margin-top: 2%;
    font-size: 0.8em;
    font-family: Roboto;
}

.featured-container-text ul.secondchild li {
    display: inline-block;
    padding: 0.5em;
    background: #1c65a0;
    border-radius: 5px;
    margin-top: 2%;
    font-size: 0.8em;
    font-family: Roboto;
}

.boxes img {
    width: 100%;
    height: 85%;
    border-radius: 5px;
}

h1.portotext  {
    display:none;
}

@media only screen and (min-width: 300px) {
    .middle {
        width: 100%;
        margin: auto;
        padding-bottom: 100px;
    }

    .hero img {
        display: none;
    }
}


@media only screen and (min-width: 1200px) {
    .middle {
        width: 100%;
        margin: auto;
    }

    .nav-container {
        background: #000000;
        font-size: 1.5em;
    }

    .featured-container-text {
        font-size: 1.25em;
        width: 80%;
        margin: auto;
    }

    .borderright {
        border-bottom: 1px solid rgb(105, 105, 105);
        width: 85%;
        float: left;
        position: relative;
        bottom: 20px;
        left: 200px;
        z-index: 1;
    }

    .contact-container-box {
        background: rgb(255, 255, 255);
        width: 80%;
        height: 700px;
        border-radius: 2em;
        margin: auto;
    }

    li.transition2 img {
        height: 300px;
    }

    .footerbox {
        width: 85%;
        margin: auto;
        padding-top: 150px;
        margin-bottom: 50px;
        background: #F4F4F2;
        z-index: 10;
    }

    .footer-header {
        font-size: 1.7em;
    }

    .footer-nav li {
        margin-bottom: 0.5em;
        padding-top: 10px;
        display: inline-block;
        margin-right: 25px;
        font-size: 1.3em;
        font-weight: bold;
    }

    .featured-container-text h2 {
        font-size: 1.8em;
        margin: 0px;
    }

    .footer {
        background: #F4F4F2;
        padding: 1em;
        margin-bottom: 1em;
        text-align: left;

        a {
            color: black;
        }
    }

    .portfolio {
        margin-top: 100px;
        width: 55%;
        margin: auto;
        height: 500px;
        display: grid;
        grid-template: 250px / auto auto auto;
        grid-gap: 15px;
        background-color: white;
    }

    .portfolio>div {
        background-color: rgba(255, 255, 255, 0.8);
        height:250px;
    }



    .boxes img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    li.boxes {}

    .hero img {
        display: block;
        width: 80%;
        height: 70%;
        margin-top: 10%;
        margin-left: 2%;
    }

    #contact {
        display: grid;
        grid-template-columns: 50% 50%;
        background: #000000;
        padding: 12em;
    }

    .featured-container-text p {
        font-size: 1em;
        font-weight: lighter;
    }

    .featured-container-text ul li {
        display: inline-block;
        padding: 0.5em 0.8em;
        background: #4d205a;
        border-radius: 5px;
        margin-top: 2%;
        font-size: 1em;
    }

    .featured-container-text ul.secondchild li {
        display: inline-block;
        padding: 0.5em 0.8em;
        background: #1c65a0;
        border-radius: 5px;
        margin-top: 2%;
        font-size: 1em;
    }

    .contact-text {
        display: inherit;
        font-size: 1.3em;
        text-align: left;
        margin: auto;
        width: 80%;
    }
    .hero img {
        position:relative;
        animation-name: example;
        animation-duration: 2.5s;
      }
    .hero .contect {
        position:relative;
        animation-name: example;
        animation-duration: 2.5s;
      }
    h2.featured-text a {
        color: black;
        float: right;
        font-size: 0.6em;
        padding: 0.6em 0em;
        display: block;
    }

    h1.portotext  {
        color: black;
        text-align: center;
        font-size: 1.2em;
        display: block;
        padding-bottom:30px;
    }

    input[type=text] {
        width: 80%;
        padding: 12px 10px;
        margin: 25px 10%;
        box-sizing: border-box;
        border-radius: 4px;
        background: transparent;
        border:1px solid white;
        border-bottom: 1px solid rgb(0, 0, 0);
        font-family: raleway;
        font-size: 23px;
        width: 80%;
    }
    
    #lname {
        margin-top:12%;
    }
    #iname {
        margin:5px 10%;
        padding: 12px 10px;
    }
    #fname {
        padding-bottom:48%;
    }
    
    input[type=submit] {
        padding: 25px 23px;
        border: none;
        cursor: pointer;
        float: left;
        margin: 25px 10%;
        font-family: raleway;
        background-color: #000000;
        font-size: 25px;
        width: 80%;
        color:white;
        border-radius: 10px;
    }

    .contact-text h1 {
        text-align: left;
        font-size: 1.8em;
        color: white;
    }

    .skills-container ul {
        display: flex;
        justify-content: center;

        li.transition2 {
            color: black;
            font-weight: bold;
            width: 30%;
            height: auto;
            padding: 4em 4em;
        }
    }

    h2.skills-subheadline {
        font-size: 1.8em;
        padding: 1em 2em;
    }

    h2.skills-headline {
        margin: auto;
        font-size: 1.8em;
        text-align: left;
        margin-top: 50px;
    }

    ul.skillsshare li {
        font-size: 1.25em;
        font-weight: 100;
        text-align: left;
    }

    p.skill-text li {
        font-size: 1.25em;
        font-weight: 100;
        text-align: left;
    }

    .nav-container {
        width: 85%;
        margin: auto;
    }

    .featured-container {
        min-height: 500px;
    }

    .contact-text p {
        font-size: 1.25em;
        width: auto;
        color: white;
    }

    .featured h2.featured-text {
        font-size: 2em;
        color: rgb(0, 0, 0);
        text-align: middle;
        font-weight: bold;
        font-size: 2em;
    }

    .hero {
        display: grid;
        grid-template-columns: 50% auto;
        width: 100%;
        margin: auto;

        .contect {
            text-align: left;
            padding: 6em 4em 10em 11%;
            font-size: 2.3em;
            margin-left: 8%;

            .meet {
                text-align: left;
                margin: 0;
                width: 650px;
            }
        }

        .contect h1 {
            margin: 0px;
        }

        .button {
            border-radius: 5px;
            background: #000000;
            padding: 1.5em 4em;
            text-align: center;
        }

        .button p {
            color: white;
            font-size: 1.5em;
            margin: auto;
        }

        .button:hover {
            background-color: #757d8a;
            transition-duration: 0.4s;
        }

    }

}